* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling navigation */
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/headerimage.png);
  background-size: cover;
  background-position: center;
  padding: 20px 8%;
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation img {
  width: 160px;
  cursor: pointer;
}
.sign-in {
  background-color: #db0001;
  border: none;
  outline: none;
  color: white;
  padding: 3px 14px;
  border-radius: 4px;
  margin-left: 15px;
}
.sign-in:hover {
  opacity: 0.9;
}
.language {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 3px 16px;
  border-radius: 4px;
  border: 0.5px solid rgb(197, 167, 167);
}
.language i {
  margin-left: 10px;
}
.header {
  border-bottom: 6px solid gray;
}

/* Styling Middle content */

.middleContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middleContent h1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  /* line-height: 70px; */
}
.middleContent h3 {
  color: white;
}
.middleContent p {
  color: rgb(232, 218, 218);
  margin-top: 20px;
}
.email-singup {
  display: flex;
  align-items: center;
  /* background: white; */
  border: none;
  outline: none;
}
.email-singup input {
  flex: 1;
  padding: 15px 10px;
  border: 1px solid rgb(215, 170, 170);
  background: transparent;
  color: white;
  margin-right: 8px;
  border-radius: 4px;
}
.email-singup button {
  padding: 15px 25px;
  border: none;
  background-color: #db0001;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}
.get-started:hover {
  opacity: 0.9;
}

/* Styling slide content */

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 6px solid gray;
  padding: 50px 12%;
}
.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}
.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}
.img-col img {
  width: 90%;
  display: block;
  margin: auto;
}
.text-col h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 600;
}
.text-col p {
  color: rgb(241, 234, 234);
  font-size: 18px;
}

/* Styling faq */

.faq {
  width: 70%;
  margin: auto;
}
.faq_container {
  margin-bottom: 24px;
}
.accordion-item button{
    background-color: rgb(79, 74, 74);
    color: white;
    font-size: 24px;
    padding: 30px 22px;
}
.accordion-item button:hover{
    background-color: rgb(50, 46, 46);
    transition: 0.3s;
}
.myclass {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq-head h2 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 20px 0;
  font-weight: 700;
}
.accordion .myitem {
  border: none;
}
.faq .accordion {
  margin-bottom: 30px;
}

.subscribe {
  text-align: center;
  color: white;
  border-bottom: 6px solid gray;
  margin-bottom: 25px;
  padding-bottom: 35px;
}
.get-started {
  padding: 12px 25px;
  border: none;
  background-color: #db0001;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.subsribe_input input {
  width: 400px;
  padding: 15px 10px;
  border: 1px solid rgb(215, 170, 170);
  background: transparent;
  color: white;
  margin-right: 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.footer{
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul a{
    display: block;
    color: #DDD;
    text-decoration: underline;
    margin-top: 1rem;
    font-size: .90rem;
}
ul p{
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
}
.footer ul a:hover{
    text-decoration: underline;
}
